@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.content-wrapper {
    margin-bottom: 50px;
}

.content_image {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.it {
    font-style: italic;
}

.link-to-section {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.external-link {
    text-decoration: none;
    font-weight: bold;
    color: #3F0071;
}
.external-link:hover {
    color:#3F0071;
}

p{
    justify-content: space-between;
}

iframe{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.content-list {
    display:inline-block;
    padding:5px 10px 5px 25px;
    border-radius: 5px;
    background: #b3cead;
}

.text-code {
    display:inline-block;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    background: #b3cead;
    font-family: 'Roboto Mono', monospace;
}

.at-rosado {
    background: #B266FF;
    padding: 3px;
    color: white;
}

.at-verde {
    background: #4D9900;
    padding: 3px;
    color: white;
}

